body{   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
}

a{
    text-decoration: none;
}
.header{
    background-color: #012D63;
}

.header-list{

    display: flex;
    gap: 30px;
}

.headar-link{

    color: #C7C7C7;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
gap: 10px;

}

/* герой */

.hiro{
background-image: url(../Group\ 37\ \(1\)\ 1.jpg);
background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        height: 948px;
        text-align: center;
}

.hiro-title{
    color: #FFF;
font-family: Playfair Display;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.hiro-title-2{
    color: #FFF;
font-family: Playfair Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hiro-text{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

width: 510px;

text-align: center;
}

.hiro-btn{
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.hiro-2{
    background-image: url(../Group\ 8\ 1.png);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        height: 948px;
        text-align: center;
}

.hiro-2-list{
    display: flex;
}

.hiro-3{
    background-image: url(../Group\ 6\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 948px;
    text-align: center;
}

.hiro-btn{
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

border-radius: 10px;
background: #8E32C6;

padding: 20px 61px;
}